
.SCOMPONENT_Component {
	font-family:	"ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
	font-size:		1em;
	font-weight:	normal;
}

.SCOMPONENT_Label {
	margin:				0.1em;
	padding:			0.1em;
}

.SCOMPONENT_Newline {
}

.SCOMPONENT_Space {
}

.SCOMPONENT_Panel {
	border-style:		solid;
	border-width:		1px;
	border-color:		gray;
	border-radius:		5px;
	margin:				0.2em;
	padding:			0.8em;
	background-color:	#ffffff;
}

.SCOMPONENT_Label {
}

.SCOMPONENT_Button {
	color:				black;
	border-style:		none;
	border-width:		1px;
	border-radius:		0.2em;
	border-color:		#e0e0e0;
	background-color:	#f0f0f0;
	margin:				0.2em;
	padding:			0.2em 1em 0em 1em;
	box-shadow:			1px  1px 2px rgba(0, 0, 0, 0.3),
						0px  1px 0px rgba(255,255,255,0.5) inset,
						0px -1px 0px rgba(255,255,255,0.2) inset;
	cursor:				pointer;
	-webkit-appearance:	none;
}
.SCOMPONENT_Button.SCOMPONENT_MouseOver {
	background-color:	#ffffff;
}
.SCOMPONENT_Button.SCOMPONENT_MouseDown {
	background-color:	#e0e0e0;
}
.SCOMPONENT_Button.SCOMPONENT_Disabled {
	color:				gray;
	background-color:	#e0e0e0;
	cursor:				auto;
}

.SCOMPONENT_CheckBox {
	color:				black;
	cursor:				pointer;
}

.SCOMPONENT_Disabled {
	color:				gray;
	cursor:				default;
}


.SCOMPONENT_Canvas {
}


@media screen and (max-device-width : 700px)  { 

	.SCOMPONENT_Newline {
		height:				0px;
		margin:				0.5em 0px 0.5em 0px;
		padding:			1px 0px 1px 0px;
		background-color:	rgba(0%, 0%, 0%, 0.08);
		display:			block !important;
	}
	
	.SCOMPONENT_Space {
		height:				0.1em;
		display:			block !important;
	}
	
	.SCOMPONENT_File {
		padding:			0em;
	}
	
	.SCOMPONENT_Canvas, SCOMPONENT_ImagePanel {
		width:				100% !important;
		height:				initial !important;
	}
	
	.SCOMPONENT_CheckBoxImage {
		width:				3em;
		height:				3em;
	}
	
	.SCOMPONENT_Button, .SCOMPONENT_ComboBox, .SCOMPONENT_Label {
		width:				100% !important;
	}
	.SCOMPONENT_Panel {
		width:				92%;
		margin:				2%;
		padding:			2%;
	}
	
}