
.SCOMPONENT_Component {
	font-family:	"ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
	font-size:		1em;
	font-weight:	normal;
}

.SCOMPONENT_Label {
	margin:				0.1em;
	padding:			0.1em;
}

.SCOMPONENT_Panel {
	border-style:		solid;
	border-width:		1px;
	border-color:		gray;
	border-radius:		5px;
	margin:				0.2em;
	padding:			0.8em;
	background-color:	#ffffff;
}

.SCOMPONENT_Button {
	color:				black;
	border-style:		none;
	border-width:		1px;
	border-radius:		0.2em;
	border-color:		#e0e0e0;
	background-color:	#f0f0f0;
	margin:				0.2em;
	padding:			0.2em 1em 0em 1em;
	box-shadow:			1px  1px 2px rgba(0, 0, 0, 0.3),
						0px  1px 0px rgba(255,255,255,0.5) inset,
						0px -1px 0px rgba(255,255,255,0.2) inset;
	cursor:				pointer;
	/* A要素などで作ったものも中央に配置し、下線を除去する */
	text-align:			center;
	text-decoration:	none;
	/* iphoneなどでもボタンの形が独自にする */
	-webkit-appearance:	none;
	/* ボタンなので選択できないようにする */
	-moz-user-select:		none;
	-webkit-user-select:	none;
	-ms-user-select:		none;
}

.SCOMPONENT_Button.SCOMPONENT_MouseOver {
	background-color:	#ffffff;
}
.SCOMPONENT_Button.SCOMPONENT_MouseDown {
	background-color:	#e0e0e0;
}

.SCOMPONENT_Button.SCOMPONENT_Disabled {
	color:				gray;
	background-color:	#e0e0e0;
	cursor:				default;
}

.SCOMPONENT_CheckBox, .SCOMPONENT_CheckBoxImage {
	color:					black;
	cursor:					pointer;
	-moz-user-select:		none;
	-webkit-user-select:	none;
	-ms-user-select:		none;
}

.SCOMPONENT_Disabled {
	color:					gray;
	cursor:					default;
	/* 無効とした場合は、必ず選択できないようにする */
	-moz-user-select:		none;
	-webkit-user-select:	none;
	-ms-user-select:		none;
}

/* disabled が対応していないボタン以外の物は、半透明化 */
.SCOMPONENT_Canvas.SCOMPONENT_Disabled,
.SCOMPONENT_ImagePanel.SCOMPONENT_Disabled,
.SCOMPONENT_Label.SCOMPONENT_Disabled {
	opacity:			0.5;
}

@media screen and (max-device-width : 700px)  { 

	/* 次の行を出す場合は、間に線を引く */
	.SCOMPONENT_Newline {
		height:				0px;
		margin:				0.5em 0px 0.5em 0px;
		padding:			1px 0px 1px 0px;
		background-color:	rgba(0%, 0%, 0%, 0.08);
		display:			block !important;
	}
	
	/* 右に表示させる場合だったものも、次の行へ表示させる */
	.SCOMPONENT_Space {
		height:				0.1em;
		display:			block !important;
	}
	
	.SCOMPONENT_FileLoad {
		padding:			0em;
	}
	
	/* スマホに見せるように横いっぱいに引き延ばす */
	.SCOMPONENT_Canvas, SCOMPONENT_ImagePanel {
		width:				100% !important;
		height:				initial !important;
	}
	
	/* スマホの場合はチェックボックスのサイズが小さいので設定する */
	.SCOMPONENT_CheckBoxImage {
		width:				3em;
		height:				3em;
	}
	
	/* ボタンは横にひきのばす */
	.SCOMPONENT_Button,
	.SCOMPONENT_ComboBox,
	.SCOMPONENT_Label {
		margin:				0.1em 0px 0.1em 0px;
		padding:			0.1em 0px 0.1em 0px;
		width:				100% !important;
	}
	
	/* 横に引き延ばす */
	.SCOMPONENT_Panel {
		width:				92%;
		margin:				2%;
		padding:			2%;
	}
	
}