html, body {
	height:			100%;
	font-family:	"ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}

h1 {
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-weight: normal;
}

.SCOMPONENT_ContentsBox {
	margin:				0.1em;
	padding:			0.1em;
}

#scomponent_input,
#scomponent_edit,
#scomponent_output {
	float:				left;
}


@media screen and (max-device-width : 700px), screen and (max-width : 480px)  { 
	
	
#scomponent_input,
#scomponent_edit,
#scomponent_output {
	float:		none;
}

}